.articles {
    padding: 30px 0;
}

.article {
    padding: 60px 0;
}

.article-preview {
    height: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.article-content {
    white-space: pre-wrap;
}

.article-actions {
    margin-bottom: 20px;
}

.article-body {
    min-height: 220px;
}

.home {
    height: calc(100vh - 88px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview {
    display: block;
    width: 150px;
}

.edit-comments {
    height: calc(100vh - 88px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-comments .actions {
    margin-left: 0;
}

.edit-comments .actions a {
    margin: 0 .14285714em!important;
}

.about {
    padding: 20px 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

footer {
    flex-shrink: 0;
}
